.u-section-1 .u-sheet-1 {
  min-height: 753px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 633px;
  background-image: url("images/Frame1.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 29px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 633px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 82px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px 89px 0 1px;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1 .u-image-1 {
    min-height: 522px;
    background-size: auto 115%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 522px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-1 .u-image-1 {
    min-height: 560px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1287px;
  }

  .u-section-1 .u-image-1 {
    min-height: 900px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 106px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 567px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 774px;
}

.u-section-2 .u-shape-1 {
  width: 855px;
  height: 575px;
  background-image: none;
  margin: 67px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 658px;
  height: 685px;
  object-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -503px 0 0 auto;
}

.u-section-2 .u-group-1 {
  width: 518px;
  min-height: 456px;
  margin: -609px auto 173px 36px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 50px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-2 .u-shape-1 {
    width: 795px;
    height: 557px;
    margin-top: 66px;
  }

  .u-section-2 .u-image-1 {
    width: 480px;
    height: 575px;
    --animation-custom_in-scale: 1;
    margin-top: -485px;
  }

  .u-section-2 .u-group-1 {
    width: 434px;
    margin-top: -574px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-2 .u-shape-1 {
    height: 624px;
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 500px;
    margin-top: -146px;
    margin-right: 66px;
  }

  .u-section-2 .u-group-1 {
    width: 560px;
    min-height: 407px;
    margin-top: -1004px;
    margin-bottom: 657px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 69px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    margin-top: -118px;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    width: 489px;
    min-height: 429px;
    margin-top: -1032px;
    margin-bottom: 663px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-2 .u-image-1 {
    width: 264px;
    height: 309px;
    object-position: 48.09% 50%;
    margin-top: -61px;
  }

  .u-section-2 .u-group-1 {
    width: 304px;
    min-height: 508px;
    margin-top: -817px;
    margin-left: auto;
    margin-bottom: 369px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 79px;
}

.u-section-3 .u-text-1 {
  margin: 0 0 -279px;
}.u-section-4 .u-sheet-1 {
  min-height: 340px;
}

.u-section-4 .u-list-1 {
  margin-top: 20px;
  margin-bottom: -68px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 300px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 60px;
  width: 60px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 60px;
  width: 60px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 60px;
  width: 60px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 60px;
  width: 60px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-5 {
  height: 60px;
  width: 60px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-10 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 245px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 645px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1102px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 378px;
}

.u-section-5 .u-text-1 {
  margin: 20px 0;
}.u-section-6 .u-sheet-1 {
  min-height: 398px;
}

.u-section-6 .u-text-1 {
  margin: 20px 0;
}.u-section-7 .u-sheet-1 {
  min-height: 340px;
}

.u-section-7 .u-image-1 {
  width: 670px;
  height: 332px;
  margin: 20px auto 0 0;
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 268px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 169px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 340px;
}

.u-section-8 .u-image-1 {
  width: 670px;
  height: 333px;
  margin: 20px auto 0 0;
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 268px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 176px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 169px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 360px;
}

.u-section-9 .u-image-1 {
  width: 670px;
  height: 444px;
  margin: 20px auto 20px 0;
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 358px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 225px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 171px;
}

.u-section-10 .u-text-1 {
  margin: 20px 0 -207px;
}.u-section-11 .u-sheet-1 {
  min-height: 360px;
}

.u-section-11 .u-image-1 {
  width: 800px;
  height: 1010px;
  margin: 20px auto 20px 0;
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-11 .u-image-1 {
    width: 720px;
    height: 909px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 32px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 682px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-image-1 {
    width: 340px;
    height: 429px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 171px;
}

.u-section-12 .u-text-1 {
  margin: 20px 0 -207px;
}.u-section-13 .u-sheet-1 {
  min-height: 400px;
}

.u-section-13 .u-image-1 {
  width: 800px;
  height: 420px;
  margin: 20px auto 60px 0;
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-13 .u-image-1 {
    width: 720px;
    height: 378px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-13 .u-image-1 {
    width: 540px;
    height: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 179px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 171px;
}

.u-section-14 .u-text-1 {
  margin: 20px 0 -207px;
}.u-section-15 .u-sheet-1 {
  min-height: 400px;
}

.u-section-15 .u-image-1 {
  width: 800px;
  height: 589px;
  margin: 20px auto 60px 0;
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-15 .u-image-1 {
    width: 720px;
    height: 530px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-15 .u-image-1 {
    width: 540px;
    height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 62px;
  }

  .u-section-15 .u-image-1 {
    width: 340px;
    height: 251px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 814px;
}

.u-section-16 .u-shape-1 {
  width: 855px;
  height: 575px;
  background-image: none;
  margin: 67px auto 0 0;
}

.u-section-16 .u-image-1 {
  width: 658px;
  height: 685px;
  object-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -503px 0 0 auto;
}

.u-section-16 .u-group-1 {
  width: 518px;
  min-height: 456px;
  margin: -609px auto 213px 36px;
}

.u-section-16 .u-container-layout-1 {
  padding: 0 50px 30px;
}

.u-section-16 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-16 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-16 .u-shape-1 {
    width: 795px;
    height: 557px;
    margin-top: 66px;
  }

  .u-section-16 .u-image-1 {
    width: 480px;
    height: 575px;
    margin-top: -485px;
  }

  .u-section-16 .u-group-1 {
    width: 434px;
    margin-top: -574px;
    margin-bottom: 60px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-16 .u-shape-1 {
    height: 624px;
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-16 .u-image-1 {
    width: 500px;
    margin-top: -146px;
    margin-right: 66px;
  }

  .u-section-16 .u-group-1 {
    width: 560px;
    min-height: 407px;
    margin-top: -1004px;
    margin-bottom: 657px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-16 .u-shape-1 {
    margin-top: 69px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-image-1 {
    margin-top: -118px;
    margin-right: auto;
  }

  .u-section-16 .u-group-1 {
    width: 489px;
    min-height: 429px;
    margin-top: -1032px;
    margin-bottom: 663px;
    margin-left: 0;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-16 .u-image-1 {
    width: 264px;
    height: 309px;
    margin-top: -61px;
  }

  .u-section-16 .u-group-1 {
    width: 304px;
    min-height: 508px;
    margin-top: -817px;
    margin-left: auto;
    margin-bottom: 369px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 814px;
}

.u-section-17 .u-shape-1 {
  width: 855px;
  height: 575px;
  background-image: none;
  margin: 67px auto 0 0;
}

.u-section-17 .u-image-1 {
  width: 658px;
  height: 685px;
  object-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -503px 0 0 auto;
}

.u-section-17 .u-group-1 {
  width: 518px;
  min-height: 456px;
  margin: -609px auto 213px 36px;
}

.u-section-17 .u-container-layout-1 {
  padding: 0 50px 30px;
}

.u-section-17 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-17 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-17 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-17 .u-shape-1 {
    width: 795px;
    height: 557px;
    margin-top: 66px;
  }

  .u-section-17 .u-image-1 {
    width: 480px;
    height: 575px;
    margin-top: -485px;
  }

  .u-section-17 .u-group-1 {
    width: 434px;
    margin-top: -574px;
    margin-bottom: 60px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-17 .u-shape-1 {
    height: 624px;
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-17 .u-image-1 {
    width: 500px;
    margin-top: -146px;
    margin-right: 66px;
  }

  .u-section-17 .u-group-1 {
    width: 560px;
    min-height: 407px;
    margin-top: -1004px;
    margin-bottom: 657px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-17 .u-shape-1 {
    margin-top: 69px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-17 .u-image-1 {
    margin-top: -118px;
    margin-right: auto;
  }

  .u-section-17 .u-group-1 {
    width: 489px;
    min-height: 429px;
    margin-top: -1032px;
    margin-bottom: 663px;
    margin-left: 0;
  }

  .u-section-17 .u-container-layout-1 {
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-17 .u-image-1 {
    width: 264px;
    height: 309px;
    margin-top: -61px;
  }

  .u-section-17 .u-group-1 {
    width: 304px;
    min-height: 508px;
    margin-top: -817px;
    margin-left: auto;
    margin-bottom: 369px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-18 .u-sheet-1 {
  min-height: 814px;
}

.u-section-18 .u-shape-1 {
  width: 855px;
  height: 575px;
  background-image: none;
  margin: 67px auto 0 0;
}

.u-section-18 .u-image-1 {
  width: 658px;
  height: 685px;
  object-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -503px 0 0 auto;
}

.u-section-18 .u-group-1 {
  width: 518px;
  min-height: 456px;
  margin: -609px auto 213px 36px;
}

.u-section-18 .u-container-layout-1 {
  padding: 0 50px 30px;
}

.u-section-18 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-18 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-18 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-18 .u-shape-1 {
    width: 795px;
    height: 557px;
    margin-top: 66px;
  }

  .u-section-18 .u-image-1 {
    width: 480px;
    height: 575px;
    margin-top: -485px;
  }

  .u-section-18 .u-group-1 {
    width: 434px;
    margin-top: -574px;
    margin-bottom: 60px;
  }

  .u-section-18 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-18 .u-shape-1 {
    height: 624px;
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-18 .u-image-1 {
    width: 500px;
    margin-top: -146px;
    margin-right: 66px;
  }

  .u-section-18 .u-group-1 {
    width: 560px;
    min-height: 407px;
    margin-top: -1004px;
    margin-bottom: 657px;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-18 .u-shape-1 {
    margin-top: 69px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-18 .u-image-1 {
    margin-top: -118px;
    margin-right: auto;
  }

  .u-section-18 .u-group-1 {
    width: 489px;
    min-height: 429px;
    margin-top: -1032px;
    margin-bottom: 663px;
    margin-left: 0;
  }

  .u-section-18 .u-container-layout-1 {
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-18 .u-image-1 {
    width: 264px;
    height: 309px;
    margin-top: -61px;
  }

  .u-section-18 .u-group-1 {
    width: 304px;
    min-height: 508px;
    margin-top: -817px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-18 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-18 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-19 {
  background-image: url("images/backgroundmodelanimated1-1425x808.png");
  background-position: 50% 50%;
}

.u-section-19 .u-sheet-1 {
  min-height: 600px;
}

.u-section-19 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 120px auto 0;
}

.u-section-19 .u-list-1 {
  margin: 41px auto 0;
}

.u-section-19 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  min-height: 251px;
  grid-gap: 21px 21px;
}

.u-section-19 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 40px 0 rgba(217,217,217,0.4);
}

.u-section-19 .u-container-layout-1 {
  padding: 30px;
}

.u-section-19 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-19 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-19 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-19 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 40px 0 rgba(217,217,217,0.4);
}

.u-section-19 .u-container-layout-2 {
  padding: 30px;
}

.u-section-19 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-19 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-19 .u-text-5 {
  margin: 19px 0 0;
}

.u-section-19 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-19 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 40px 0 rgba(217,217,217,0.4);
}

.u-section-19 .u-container-layout-3 {
  padding: 30px;
}

.u-section-19 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-19 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-19 .u-text-7 {
  margin: 19px 0 0;
}

.u-section-19 .u-btn-2 {
  border-style: solid;
  font-weight: 400;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-19 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-19 .u-repeater-1 {
    min-height: 205px;
  }

  .u-section-19 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-19 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-19 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-19 {
    background-position: 84.87% 50%;
  }

  .u-section-19 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-19 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    min-height: 528px;
  }
}

@media (max-width: 767px) {
   .u-section-19 {
    background-position: 87.12% 50%;
  }
}

@media (max-width: 575px) {
   .u-section-19 {
    background-position: 86.83% 50%;
  }

  .u-section-19 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-19 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}