 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/ezgif-4-898e76b1ed.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 760px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 65px;
  margin-bottom: 80px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 615px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.6;
  text-shadow: 2px 2px 10px rgba(255,255,255,0.4);
  letter-spacing: 1px;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: bold;
  margin: 60px auto 0 0;
  padding: 20px 59px 22px 58px;
}

.u-section-1 .u-image-1 {
  min-height: 615px;
  pointer-events: auto;
  background-image: url("images/avatarnew2.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 507px;
  }

  .u-section-1 .u-image-1 {
    min-height: 507px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 45.55% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 388px;
    background-position: 63.58% 0%;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 93.53% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 80px;
  }

  .u-section-1 .u-image-1 {
    min-height: 582px;
    background-size: 115%;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 88.18% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 366px;
    background-position: 56.72% 29.64%;
    background-size: 140%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 545px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 70px;
  font-size: 2.25rem;
}

.u-section-2 .u-line-1 {
  margin-top: 14px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-2 .u-list-1 {
  margin: 52px 0 -34px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 327px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-shape-1 {
  width: 56px;
  height: 56px;
  --animation-custom_in-scale: 1;
  margin: 30px 297px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 500;
  margin: 30px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 56px;
  height: 56px;
  --animation-custom_in-scale: 1;
  margin: 30px 297px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 500;
  margin: 30px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-shape-3 {
  width: 56px;
  height: 56px;
  --animation-custom_in-scale: 1;
  margin: 30px 297px 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 500;
  margin: 30px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 620px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 264px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 264px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-shape-3 {
    margin-right: 264px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 761px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 64px 0 -206px;
}

.u-section-3 .u-image-1 {
  min-height: 643px;
  background-image: url("images/Screenshot2023-03-07at6.27.28PM.png");
  background-position: 36.18% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 643px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 0 auto 0 9px;
}

.u-section-3 .u-line-1 {
  width: 160px;
  transform-origin: left center 0px;
  height: 20px;
  margin: 22px auto 0 9px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 34px 0 0 9px;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 34px 272px 0 9px;
  padding: 20px 59px 22px 58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 64px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 530px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-3 .u-image-1 {
    min-height: 406px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 112px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-3 .u-image-1 {
    min-height: 609px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-3 .u-image-1 {
    min-height: 383px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 761px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 64px 0 -206px;
}

.u-section-4 .u-image-1 {
  min-height: 643px;
  background-image: url("images/product-pic-1.jpg");
  background-position: 100% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 643px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-line-1 {
  width: 160px;
  transform-origin: left center 0px;
  height: 20px;
  margin: 22px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.3;
  margin: 34px 0 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 34px 272px 0 0;
  padding: 20px 59px 22px 58px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 64px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 530px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-4 .u-image-1 {
    min-height: 406px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 112px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-4 .u-image-1 {
    min-height: 609px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-4 .u-image-1 {
    min-height: 383px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 761px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 64px 0 -206px;
}

.u-section-5 .u-image-1 {
  min-height: 643px;
  background-image: url("images/Screenshot2023-03-07at6.50.21PM.png");
  background-position: 90.42% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 643px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-line-1 {
  width: 160px;
  transform-origin: left center 0px;
  height: 20px;
  margin: 22px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.3;
  margin: 34px 0 0;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 34px 272px 0 0;
  padding: 20px 59px 22px 58px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 64px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 530px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-5 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-5 .u-image-1 {
    min-height: 406px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 112px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-5 .u-image-1 {
    min-height: 609px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-5 .u-image-1 {
    min-height: 383px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 761px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 64px 0 -206px;
}

.u-section-6 .u-image-1 {
  min-height: 643px;
  background-image: url("images/12.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 643px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-line-1 {
  width: 160px;
  transform-origin: left center 0px;
  height: 20px;
  margin: 22px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 34px 0 0;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 34px 272px 0 0;
  padding: 20px 59px 22px 58px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 64px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 530px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-6 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-6 .u-image-1 {
    min-height: 406px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 112px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-6 .u-image-1 {
    min-height: 609px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-6 .u-image-1 {
    min-height: 383px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 761px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 64px 0 -206px;
}

.u-section-7 .u-image-1 {
  min-height: 643px;
  background-image: url("images/giphy4.gif");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 643px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-line-1 {
  width: 160px;
  transform-origin: left center 0px;
  height: 20px;
  margin: 22px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 34px 0 0;
}

.u-section-7 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 34px 272px 0 0;
  padding: 20px 59px 22px 58px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 64px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 530px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-7 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-7 .u-image-1 {
    min-height: 406px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 112px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-7 .u-image-1 {
    min-height: 609px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-7 .u-image-1 {
    min-height: 383px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 0;
  }
}