 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/laptop13.gif");
  background-position: 18.28% 49.07%;
  background-size: 120%;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 10px;
  margin: 168px 640px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 30px 508px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 170px;
    margin-right: 440px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 100px;
    margin-right: 220px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: 20px;
    margin-right: 211px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 35.42% 41.07%;
    background-size: auto 120%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 150px;
    margin-right: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 31px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 48.9% 52.54%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 180px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 568px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-image-1 {
  min-height: 448px;
  background-image: url("images/11-5.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 448px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 3rem;
  margin: 148px 20px 20px 0;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  height: 20px;
  margin: 0 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 369px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 103px;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-2 .u-image-1 {
    min-height: 283px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-2 .u-image-1 {
    min-height: 425px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 268px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 11px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 226px;
}

.u-section-3 .u-text-1 {
  margin: -29px 0;
}.u-section-4 .u-sheet-1 {
  min-height: 236px;
}

.u-section-4 .u-text-1 {
  margin: 5px 0 -5px;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 495px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 1px;
  font-weight: 700;
  margin: 40px auto 0 0;
}

.u-section-5 .u-list-1 {
  margin: 57px 0 20px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 77px;
  grid-gap: 20px 20px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 18px;
}

.u-section-5 .u-text-2 {
  letter-spacing: 1px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-style: normal;
  letter-spacing: 1px;
  margin: 25px auto 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 21px 30px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 18px;
}

.u-section-5 .u-text-4 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-5 {
  font-style: normal;
  letter-spacing: 1px;
  margin: 25px auto 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 21px 30px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 18px;
}

.u-section-5 .u-text-6 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-7 {
  font-style: normal;
  letter-spacing: 1px;
  margin: 25px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 63px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -53px;
    margin-left: 100px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-left: 100px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -53px;
    margin-left: 100px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 21px;
    margin-left: 100px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -53px;
    margin-left: 100px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 21px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 167px;
  }

  .u-section-5 .u-icon-1 {
    height: 54px;
    width: 54px;
    padding: 15px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -39px;
    margin-left: 74px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 25px;
    margin-left: 74px;
  }

  .u-section-5 .u-icon-2 {
    height: 54px;
    width: 54px;
    padding: 15px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -39px;
    margin-left: 74px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 25px;
    margin-left: 74px;
  }

  .u-section-5 .u-icon-3 {
    height: 54px;
    width: 54px;
    padding: 15px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -39px;
    margin-left: 74px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 25px;
    margin-left: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 494px;
}

.u-section-6 .u-text-1 {
  margin: 30px 0 0;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-bottom: 60px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 136px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}.u-section-8 .u-sheet-1 {
  min-height: 360px;
}

.u-section-8 .u-image-1 {
  width: 900px;
  height: 772px;
  margin: 20px auto 20px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-image-1 {
    width: 720px;
    height: 618px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-image-1 {
    width: 540px;
    height: 464px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    width: 340px;
    height: 292px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 136px;
}

.u-section-9 .u-text-1 {
  margin: 0;
}.u-section-10 .u-sheet-1 {
  min-height: 360px;
}

.u-section-10 .u-image-1 {
  width: 900px;
  height: 1575px;
  margin: 20px auto 20px 0;
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 45px;
  }

  .u-section-10 .u-image-1 {
    width: 720px;
    height: 1260px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-image-1 {
    width: 540px;
    height: 945px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    width: 340px;
    height: 595px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 136px;
}

.u-section-11 .u-text-1 {
  margin: 0;
}.u-section-12 .u-sheet-1 {
  min-height: 360px;
}

.u-section-12 .u-image-1 {
  width: 900px;
  height: 474px;
  margin: 20px auto 20px 0;
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-12 .u-image-1 {
    width: 720px;
    height: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-12 .u-image-1 {
    width: 540px;
    height: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 65px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 179px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 119px;
}

.u-section-13 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px 0 -37px;
} .u-section-14 {
  background-image: url("images/DBS1.png");
  background-position: 50% 50%;
}

.u-section-14 .u-sheet-1 {
  min-height: 580px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 450px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 250px;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 568px;
}

.u-section-15 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-15 .u-image-1 {
  min-height: 448px;
  background-image: url("images/Scene11.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-15 .u-layout-cell-2 {
  min-height: 448px;
}

.u-section-15 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-15 .u-text-1 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 3rem;
  margin: 148px 20px 20px 0;
}

.u-section-15 .u-line-1 {
  transform-origin: left center 0px;
  height: 20px;
  margin: 0 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-15 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-image-1 {
    min-height: 369px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-15 .u-text-1 {
    margin-top: 103px;
    margin-right: 0;
  }

  .u-section-15 .u-line-1 {
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-15 .u-image-1 {
    min-height: 283px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-15 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-15 .u-image-1 {
    min-height: 425px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-text-1 {
    margin-top: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-15 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-image-1 {
    min-height: 268px;
  }

  .u-section-15 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 11px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 226px;
}

.u-section-16 .u-text-1 {
  margin: -29px 0;
} .u-section-17 {
  background-image: none;
}

.u-section-17 .u-sheet-1 {
  min-height: 568px;
}

.u-section-17 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-17 .u-image-1 {
  min-height: 448px;
  background-image: url("images/Scene2.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-17 .u-layout-cell-2 {
  min-height: 448px;
}

.u-section-17 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-17 .u-text-1 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 3rem;
  margin: 148px 20px 20px 0;
}

.u-section-17 .u-line-1 {
  transform-origin: left center 0px;
  height: 20px;
  margin: 0 20px 0 0;
}

.u-section-17 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-17 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-17 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-17 .u-image-1 {
    min-height: 369px;
  }

  .u-section-17 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-17 .u-text-1 {
    margin-top: 103px;
    margin-right: 0;
  }

  .u-section-17 .u-line-1 {
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-17 .u-image-1 {
    min-height: 283px;
  }

  .u-section-17 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-17 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-17 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-17 .u-image-1 {
    min-height: 425px;
  }

  .u-section-17 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-text-1 {
    margin-top: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-17 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-17 .u-image-1 {
    min-height: 268px;
  }

  .u-section-17 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 11px;
  }
}.u-section-18 .u-sheet-1 {
  min-height: 266px;
}

.u-section-18 .u-text-1 {
  margin: -29px 0 11px;
}

@media (max-width: 767px) {
  .u-section-18 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-18 .u-text-1 {
    margin-bottom: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-18 .u-text-1 {
    margin-bottom: 60px;
  }
}