 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/laptop13.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 10px;
  margin: 168px 640px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 30px 508px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 170px;
    margin-right: 440px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 100px;
    margin-right: 220px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: 20px;
    margin-right: 211px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 150px;
    margin-right: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 31px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 61.62% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 180px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 625px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 5px 0 -13px;
}

.u-section-2 .u-image-1 {
  min-height: 600px;
  background-image: url("images/Frame21.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 29px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 600px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: 150px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: -135px;
  }

  .u-section-2 .u-image-1 {
    min-height: 495px;
    background-size: auto 115%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-2 .u-text-1 {
    letter-spacing: 4px;
    margin-top: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: -123px;
  }

  .u-section-2 .u-image-1 {
    min-height: 531px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1253px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -131px;
  }

  .u-section-2 .u-image-1 {
    min-height: 853px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    letter-spacing: 10px;
    margin-top: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -144px;
  }

  .u-section-2 .u-image-1 {
    min-height: 537px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 884px;
}

.u-section-3 .u-shape-1 {
  width: 855px;
  height: 575px;
  background-image: none;
  margin: 67px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 518px;
  min-height: 456px;
  margin: -427px auto 0 36px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 50px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-3 .u-image-1 {
  width: 658px;
  height: 685px;
  object-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -532px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-3 .u-shape-1 {
    width: 795px;
    height: 557px;
    margin-top: 60px;
  }

  .u-section-3 .u-group-1 {
    width: 434px;
    margin-top: -484px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 15px;
  }

  .u-section-3 .u-image-1 {
    width: 480px;
    height: 575px;
    margin-top: -457px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-3 .u-shape-1 {
    height: 624px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    width: 560px;
    min-height: 407px;
  }

  .u-section-3 .u-image-1 {
    width: 500px;
    margin-top: 0;
    margin-right: 66px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-3 .u-group-1 {
    width: 489px;
    min-height: 429px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 8px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 304px;
    min-height: 508px;
    margin-top: -582px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    width: 264px;
    height: 309px;
    margin-top: 0;
    margin-bottom: 9px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 603px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 108px 73px 0 119px;
}

.u-section-4 .u-list-1 {
  margin: 57px 0 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 77px;
  grid-gap: 20px 20px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 18px;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-style: normal;
  margin: 25px auto 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 21px 30px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 18px;
}

.u-section-4 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-5 {
  font-style: normal;
  margin: 25px auto 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 21px 30px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 18px;
}

.u-section-4 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-7 {
  font-style: normal;
  margin: 25px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 903px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 63px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -53px;
    margin-left: 100px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-left: 100px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -53px;
    margin-left: 100px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 21px;
    margin-left: 100px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -53px;
    margin-left: 100px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 21px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
    font-size: 3rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 167px;
  }

  .u-section-4 .u-icon-1 {
    height: 54px;
    width: 54px;
    padding: 15px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -39px;
    margin-left: 74px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 25px;
    margin-left: 74px;
  }

  .u-section-4 .u-icon-2 {
    height: 54px;
    width: 54px;
    padding: 15px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -39px;
    margin-left: 74px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 25px;
    margin-left: 74px;
  }

  .u-section-4 .u-icon-3 {
    height: 54px;
    width: 54px;
    padding: 15px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -39px;
    margin-left: 74px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 25px;
    margin-left: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 524px;
}

.u-section-5 .u-text-1 {
  margin: 60px 0 0;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-bottom: 60px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 136px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}.u-section-7 .u-sheet-1 {
  min-height: 360px;
}

.u-section-7 .u-image-1 {
  width: 900px;
  height: 772px;
  margin: 20px auto 20px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    width: 720px;
    height: 618px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    width: 540px;
    height: 464px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    width: 340px;
    height: 292px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 136px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}.u-section-9 .u-sheet-1 {
  min-height: 360px;
}

.u-section-9 .u-image-1 {
  width: 900px;
  height: 1575px;
  margin: 20px auto 20px 0;
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 45px;
  }

  .u-section-9 .u-image-1 {
    width: 720px;
    height: 1260px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-image-1 {
    width: 540px;
    height: 945px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    width: 340px;
    height: 595px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 136px;
}

.u-section-10 .u-text-1 {
  margin: 0;
}.u-section-11 .u-sheet-1 {
  min-height: 360px;
}

.u-section-11 .u-image-1 {
  width: 900px;
  height: 474px;
  margin: 20px auto 20px 0;
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-11 .u-image-1 {
    width: 720px;
    height: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 65px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 179px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 119px;
}

.u-section-12 .u-text-1 {
  margin: 20px 0 -37px;
} .u-section-13 {
  background-image: url("images/laptop11.png");
  background-position: 50% 50%;
}

.u-section-13 .u-sheet-1 {
  min-height: 580px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 450px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 250px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 817px;
}

.u-section-14 .u-shape-1 {
  width: 855px;
  height: 575px;
  background-image: none;
  margin: 120px auto 0 0;
}

.u-section-14 .u-image-1 {
  width: 658px;
  height: 685px;
  object-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -503px 0 0 auto;
}

.u-section-14 .u-group-1 {
  width: 518px;
  min-height: 456px;
  margin: -609px auto 163px 36px;
}

.u-section-14 .u-container-layout-1 {
  padding: 0 50px 30px;
}

.u-section-14 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-14 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-14 .u-shape-1 {
    width: 795px;
    height: 557px;
  }

  .u-section-14 .u-image-1 {
    width: 500px;
    height: 575px;
    margin-top: -485px;
  }

  .u-section-14 .u-group-1 {
    width: 434px;
    margin-top: -574px;
    margin-bottom: 60px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-14 .u-shape-1 {
    height: 624px;
    margin-top: 130px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-14 .u-image-1 {
    margin-top: -146px;
    margin-right: 66px;
  }

  .u-section-14 .u-group-1 {
    width: 560px;
    min-height: 407px;
    margin-top: -1004px;
    margin-bottom: 610px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-14 .u-shape-1 {
    margin-top: 120px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-image-1 {
    margin-top: -118px;
    margin-right: auto;
  }

  .u-section-14 .u-group-1 {
    width: 489px;
    min-height: 429px;
    margin-top: -1032px;
    margin-bottom: 616px;
    margin-left: 0;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-14 .u-image-1 {
    width: 264px;
    height: 309px;
    margin-top: -61px;
  }

  .u-section-14 .u-group-1 {
    width: 304px;
    min-height: 508px;
    margin-top: -817px;
    margin-left: auto;
    margin-bottom: 324px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 767px;
}

.u-section-15 .u-shape-1 {
  width: 855px;
  height: 575px;
  background-image: none;
  margin: 20px auto 0 0;
}

.u-section-15 .u-image-1 {
  width: 658px;
  height: 685px;
  object-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -503px 0 0 auto;
}

.u-section-15 .u-group-1 {
  width: 518px;
  min-height: 456px;
  margin: -609px auto 213px 36px;
}

.u-section-15 .u-container-layout-1 {
  padding: 0 50px 30px;
}

.u-section-15 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-15 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-15 .u-shape-1 {
    width: 795px;
    height: 557px;
    margin-top: 66px;
  }

  .u-section-15 .u-image-1 {
    width: 500px;
    height: 575px;
    margin-top: -485px;
  }

  .u-section-15 .u-group-1 {
    width: 434px;
    margin-top: -574px;
    margin-bottom: 60px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-15 .u-shape-1 {
    height: 624px;
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-15 .u-image-1 {
    margin-top: -146px;
    margin-right: 66px;
  }

  .u-section-15 .u-group-1 {
    width: 560px;
    min-height: 407px;
    margin-top: -1004px;
    margin-bottom: 610px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 1165px;
  }

  .u-section-15 .u-shape-1 {
    margin-top: 69px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-image-1 {
    margin-top: -118px;
    margin-right: auto;
  }

  .u-section-15 .u-group-1 {
    width: 489px;
    min-height: 429px;
    margin-top: -1032px;
    margin-bottom: 616px;
    margin-left: 0;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-15 .u-image-1 {
    width: 264px;
    height: 309px;
    margin-top: -61px;
  }

  .u-section-15 .u-group-1 {
    width: 304px;
    min-height: 508px;
    margin-top: -817px;
    margin-left: auto;
    margin-bottom: 324px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-16 {
  background-image: url("images/backgroundmodelanimated1-1425x808.png");
  background-position: 50% 50%;
}

.u-section-16 .u-sheet-1 {
  min-height: 600px;
}

.u-section-16 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 120px auto 0;
}

.u-section-16 .u-list-1 {
  margin: 41px auto 0;
}

.u-section-16 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  min-height: 251px;
  grid-gap: 21px 21px;
}

.u-section-16 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 40px 0 rgba(217,217,217,0.4);
}

.u-section-16 .u-container-layout-1 {
  padding: 30px;
}

.u-section-16 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-16 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-16 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-16 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 40px 0 rgba(217,217,217,0.4);
}

.u-section-16 .u-container-layout-2 {
  padding: 30px;
}

.u-section-16 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-16 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-16 .u-text-5 {
  margin: 19px 0 0;
}

.u-section-16 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-16 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 40px 0 rgba(217,217,217,0.4);
}

.u-section-16 .u-container-layout-3 {
  padding: 30px;
}

.u-section-16 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-16 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-16 .u-text-7 {
  margin: 19px 0 0;
}

.u-section-16 .u-btn-2 {
  border-style: solid;
  font-weight: 400;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-repeater-1 {
    min-height: 205px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-16 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-16 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-16 {
    background-position: 84.87% 50%;
  }

  .u-section-16 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-16 .u-list-1 {
    margin-bottom: -367px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    min-height: 528px;
  }
}

@media (max-width: 767px) {
   .u-section-16 {
    background-position: 87.12% 50%;
  }

  .u-section-16 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-16 .u-list-1 {
    margin-bottom: -307px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-16 {
    background-position: 86.83% 50%;
  }

  .u-section-16 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-16 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-16 .u-list-1 {
    margin-bottom: -203px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}